.perso-container {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.perso-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.perso-table {
  width: 60%;
  background-color: white;
  border-collapse: collapse;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

.perso-table th,
.perso-table td {
  padding: 12px;
  border: 1px solid #dddddd6c;
  text-align: center;
}

.perso-table th {
  background-color: #6a11cb;
  color: white;
  border-radius: 10px;
}

.perso-table tr:hover {
  background-color: #f1f1f1;
}

.process-button {
  background-color: #6a11cb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.process-button:hover {
  background-color: #2575fc;
}

.success-message {
  color: green;
  font-size: 1.5rem;
  margin-top: 20px;
}