.perso-container {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.perso-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.perso-table {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.279);
  border-collapse: separate;
  border-spacing: 0; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius:14px;
}

.perso-table th,
.perso-table td {
  padding: 12px;
  border: 1px solid #fffbfb;
  text-align: center;
}

.perso-table th {
  background-color: #3b48c0c9;
  color: white;
}


.perso-table tr:first-child th:first-child {
  border-top-left-radius:14px;
}

.perso-table tr:first-child th:last-child {
  border-top-right-radius: 14px;
}

.perso-table tr:last-child td:first-child {
  border-bottom-left-radius: 14px;
}

.perso-table tr:last-child td:last-child {
  border-bottom-right-radius: 14px;
}

.perso-table tr:hover {
  background-color: #f1f1f1;
}

.process-button {
  background-color: #3b48c0c9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.process-button:hover {
  background-color: #2575fc;
}

.success-message {
  color: green;
  font-size: 1.5rem;
  margin-top: 20px;
}
